
  .grid1 {
    display: grid;
    grid-gap: 5px;
    
    grid-template-columns:repeat(3,50px);
    grid-template-rows: repeat(3,50px);
    size: auto;
    border: 5px solid rgb(0, 0, 0);
    grid-template-areas:
		"a b c"
                "d e f"
                "g h i";
    position: absolute;
    padding: repeat(4,10px);
    width: 160px;
    height:160px;
    margin:0px;
    bottom:70%;
    right:auto;
    left:550px;
    background-color: black;
    border-radius: 10px;
  }


.grid2 {
    display: grid;
    grid-gap: 5px;
    
    grid-template-columns:repeat(5,50px);
    grid-template-rows: repeat(5,50px);
    size: auto;
    border: 5px solid rgb(0, 0, 0);
    grid-template-areas:
		"A B C D E"
		"F G H I J"
		"K L M N O"
                "P Q R S T"
                "U V W X Z";
    position: absolute;
    padding: repeat(4,10px);
    width: 270px;
    height:270px;
    margin:0px;
    bottom:0%;
    right:auto;
    left:500px;
    background-color:black;
    box-shadow:black;
    border-radius: 10px;
  }
  .control{
    position: absolute;
    
    left: 200px; 
    bottom: 44%;
  
    width: 100px;
    height: 20px;
   
}

.startbutton{
    border: none;
    background-color: black;
    color:cornsilk;
}
.startbutton:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

body {
    background-image: linear-gradient(rgb(222, 241, 110),violet);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.tile--01{border: none;
    border-radius: 10px;}
.tile--02{border: none;
    border-radius: 10px;}
.tile--03{border: none;
    border-radius: 10px;}
.tile--04{border: none;
    border-radius: 10px;}
.tile--05{border: none;
    border-radius: 10px;}
.tile--06{border: none;
     border-radius: 10px;}
.tile--07{border: none;
    border-radius: 10px;}
.tile--08{border: none;
    border-radius: 10px;}
.tile--09{border: none;
    border-radius: 10px;}


.tile--1{
    border-radius: 10px;
    border: none;}
.tile--2{
    border-radius: 10px;
    border: none;}
.tile--3{
    border-radius: 10px;
    border: none;}
.tile--4{border: none;
    border-radius: 10px;}
.tile--5{border: none;
    border-radius: 10px;}
.tile--6{border: none;
    border-radius: 10px;}
.tile--7{border: none;
    border-radius: 10px;}
.tile--8{border: none;
    border-radius: 10px;}
.tile--9{border: none;
    border-radius: 10px;}
.tile--10{border: none;
    border-radius: 10px;}
.tile--11{border: none;
    border-radius: 10px;}
.tile--12{border: none;
    border-radius: 10px;}    
.tile--13{border: none;
    border-radius: 10px;}
.tile--14{border: none;
    border-radius: 10px;}
.tile--15{border: none;
    border-radius: 10px;}
.tile--16{border: none;
    border-radius: 10px;}
.tile--17{border: none;
    border-radius: 10px;}
.tile--18{border: none;
    border-radius: 10px;}
.tile--19{border: none;
    border-radius: 10px;}
.tile--20{border: none;
    border-radius: 10px;}
.tile--21{border: none;
    border-radius: 10px;}
.tile--22{border: none;
    border-radius: 10px;}
.tile--23{border: none;
    border-radius: 10px;}
.tile--24{border: none;
    border-radius: 10px;}
.tile--25{border: none;
    border-radius: 10px;}    

